h1 {
	color: darkgray;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
	padding: 10px;
}

a {
	text-decoration: none;
	color: black;
}

.gallery {
	margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
.gallery img {
	width: 200px;
	transition: 1s;
	padding: 20px
}

.gallery img:hover {
	transform: scale(1.05);
}

.sidebar {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 75px;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidebar a:hover {
  color: darkgray;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.main {
	display: inline-block;
	position: absolute;
}

p {
	margin-left: 160px; /* Same as the width of the sidebar */
  padding-top: px;
}

#bio {
	margin-left: 200px;
	padding-top: 15px;
	width: 60%
}

#fredpic {
	margin-left: 160px;
	padding-top: 15px;
	display: inline-block;
}

#myLinks {
	text-align: center
}

 /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
} 
